{% extends 'base.html' %}
{% load static i18n crispy_forms_tags%}
{% block title %} {% trans 'إضافة بيان' %} {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
{% if request.user.is_staff or org_prof_pub_check.publish == True %}

<div class="row pt-4 mt-4 mb-4">
    <h1 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}" data-aos="fade-left">
        {% trans 'إضافة بيان' %}</h1>
    <hr>

    <form action="" id="form_rapport" method="post" class="register" enctype="multipart/form-data" data-aos="fade-right">
        {% csrf_token %}
        {% if request.user.is_authenticated and request.user.is_staff %}
        {{ form.org_name|as_crispy_field }}
        {% endif %}
        {{ form.title|as_crispy_field }}
        {{ form.media|as_crispy_field }}
        <input type="submit" value="{% trans 'احفظ' %}" class="btn btn-block">
    </form>



</div>

{% else %}

<h2 class="text center pt-4 mt-4">{% trans 'ليس لديك الصلاحية لدخول هذه الصفحة' %}</h2>

{% endif %}
{% endif %}

{% endblock %}