{% extends 'base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans "أخبار المجتمع المدني" %} {% endblock %}

{% block content %}

<div class="row mt-4 pt-4 orgs-news">
  <div class="">
    <article>
      <h1 class="text-center mb-4"> {% trans "أخبار المجتمع المدني" %} </h1>
      <!-- Text Descriptions -->
      {% if LANGUAGE_CODE == 'ar'%}
      <p class="text-right text-al-just p-color h4">

        يعرض هذا القسم آخر أخبار منظمات المجتمع المدني السوري المسجلة في المنصة، بما يتضمن ذلك انجازاتها وأنشطتها و كل
        ما يتعلق بفعالياتها سواء في الميدان أو خارجه كالشراكات الاستراتيجية على سبيل المثال لا الحصر بهدف رفع مستوى
        التنسيق بين مختلف المنظمات الفاعلة على الأرض


        <span id="collapseText" class="collapse">
          . <br><br> كما تم إلحاق قسم خاص بالأبحاث الصادرة عن المنظمات غير المسجلة في
          الموقع وبخاصة المنظمات الدولية وأجهزتها و وكالاتها.<br>
          ويضم هذا القسم خمس صفحات فرعية:
          <ul id="list-collapse">
            <li><strong>اخبار المنظمات :</strong> يتضمن اخر اخبار المنظمات المسجلة وأنشطتها ومشاريعها.</li>
            <li><strong>تقارير ودراسات :</strong> يتضمن التقارير والدراسات التي تصدرها منظمات المجتمع المدني المسجلة
              والتي تعتبر ركيزة
              مهمة
              للمنظمات الأخرى في فهم سياق العمل وخاصة أثناء مرحلة التخطيط للمشاريع القادمة</li>
            <li><strong>البيانات :</strong> يتضمن جميع البيانات الصادرة عن المنظمات المسجلة.</li>
            <li><strong>محتوى سمعي وبصري :</strong> وفيه تجدون الفيديوهات والسمعيات المنتجة والمصممة من قبل المنظمات
              المسجلة.</li>
            <li><strong>أبحاث خارجية :</strong> يتضمن التقارير والدراسات والمحتويات السمعية والبصرية والبيانات الصادرة
              عن المنظمات غير
              المسجلة
              في المنصة بما في ذلك المنظمات الدولية وأجهزتها ووكالاتها</li>
          </ul>
        </span>
      </p>
      {% endif %}

      <a href="#collapseText" id="collapsRead" class="nav-toggle text-decoration-none" data-toggle="collapse">
        {% trans "إقراء المزيد" %}
      </a>
    </article>


    <hr>
    <!-- Les Cercles -->
    <div class="row org-work mb-2">
      <h2 class="text-center mb-4"> {% trans "اﻷخبار" %} </h2>


      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <div class="">
          <a href="{% url 'orgs_news' %}"
            class="btn btn-button d-flex justify-content-center align-items-center border-0">
            {% trans "أخبار المنظمات" %} </a>
        </div>
        <div class="">
          <a href="{% url 'orgs_rapport' %}"
            class="btn btn-button d-flex justify-content-center align-items-center border-0">
            {% trans "تقارير ودراسات" %} </a>
        </div>
        <div class="">
          <a href="{% url 'data' %}" class="btn btn-button d-flex justify-content-center align-items-center border-0">
            {% trans "بيانات" %} </a>
        </div>
        <div class="">
          <a href="{% url 'media' %}" class="btn btn-button d-flex justify-content-center align-items-center border-0">
            {% trans "سمعي وبصري" %} </a>
        </div>
        <div class="">
          <a href="{% url 'research' %}"
            class="btn btn-button d-flex justify-content-center align-items-center border-0"> {% trans "أبحاث خارجية" %}
          </a>
        </div>
      </div>

    </div>

  </div>
</div>


{% endblock %}