{% extends 'base.html' %}
{% load static %}
{% block title %} {% trans "تفاصيل الخبر" %} {% endblock %}

{% block content %}
<h1>{% trans "تفاصيل الخبر" %}</h1>

<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="{% static 'media/article_img.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> {% trans "عنوان الخبر" %} </h5>
      <p class="card-text"> {% trans "نص الخبر" %} </p>
      <p class="text-muted"> {% trans "تاريخ الخبر" %} </p>
      
      <a href="" class="btn btn-block btn-social btn-facebook mt-4"><span class="fa fa-facebook"></span> {% trans "مشاركة على فيسبوك" %} </a>
    </div>
    <a href="{% url 'centre_news' %}" class="btn btn-block"> {% trans 'عودة إلى صفحة أخبار المركز' %} </a>
  </div>
  
</div>

{% endblock %}