{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %} {% trans "تقارير و دراسات المنظمات قيد الدراسة" %} {% endblock %}

{% block content %}


<div class="row pt-4 mt-4 mb-4">
    <h1> {% trans "تقارير و دراسات المنظمات قيد الدراسة" %} </h1>
    <hr>

    <div class="">


        <div class="row mt-4">

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                {% if request.user.is_authenticated %}
                <a href="{% url 'add_rapport' %}" class="btn btn-block mt-4"
                    title="{% trans 'إضافة تقرير أو دراسة' %}"><i class="fas fa-plus"></i></a>
                {% endif %}
            </div>
            {% if rapports%}
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a class="btn btn-block mt-4" data-toggle="collapse" href="#collapseFiltre" aria-expanded="false"
                    aria-controls="collapseFiltre" title="{% trans 'فرز' %}"><i class="fas fa-filter"></i></a>
            </div>
            {% endif %}

            <!-- FILTERS -->
            <div class="pt-3 px-4 pb-2 mt-4 collapse" id="collapseFiltre">

                <form action="" method="get"
                    class="row register justify-content-center align-items-center flex-wrap form my-2 my-lg-0">
                    <div class="col-sm-12 col-md-4  mt-3">
                        {{ myFilter.form.org_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-12 col-md-4 mt-3">
                        {{ myFilter.form.title|as_crispy_field }}
                    </div>
                    <div class="col-sm-12 col-md-4 mt-3">
                        {{ myFilter.form.domain|as_crispy_field }}
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4 mt-3">
                            {{ myFilter.form.start_date_pub|as_crispy_field }}
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 mt-3">
                            {{ myFilter.form.end_date_pub|as_crispy_field }}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <button class="btn btn-block mt-3">{% trans 'بحث' %}</button>
                    </div>
                </form>
            </div>



            <div class="row mt-4 pt-4">

                <div class="row justify-content-start pt-4 pb-4 mb-4">
                    {% if rapports %}
                    {% for rapport in rapports %}

                    <div class="span3 well">
                        <span class="text-muted">
                            <i class="far fa-clock ml-2 mr-2"></i>
                            {{ rapport.created_at|timesince }}
                        </span>
                        <center>
                            {% if '.pdf' in rapport.media.url %}

                            {% else  %}
                            <a href="{% url 'orgs_rapport_detail' rapport.id %}">
                                <img src="{{ rapport.media.url }}" name="{{ rapport.title }}"
                                    title="{{ rapport.title }}" alt="{{ rapport.title }}" width="140" height="140"
                                    class="img-circle"></a>
                            {% endif  %}
                            <h3 class="mt-4">{{ rapport.org_name }}</h3>
                            <p>{{ rapport.title }}</p>

                            <p>
                                <a href="{% url 'orgs_rapport_detail' rapport.id %}" class="btn btn-block"
                                    title="{% trans 'لقراءة المزيد' %}"><i class="fas fa-book-reader"></i>
                                </a>
                            </p>

                        </center>
                    </div>

                    {% endfor %}


                    <div class="pagination row border-top mt-4 pt-4" dir="ltr">
                        <center>
                            {% if rapports.paginator.num_pages > 1 %}
                            {% if rapports.has_previous %}

                            <a href="?page=1" class="btn">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                            <a href="?page={{ rapports.previous_page_number }}" class="btn">
                                <i class="fa fa-angle-left"></i>
                            </a>

                            {% endif %}

                            {% for num in rapports.paginator.page_range %}
                            {% if rapports.number == num %}
                            <a href="?page={{ num }}" class="btn btn-current">{{ num }}</a>
                            {% elif num > rapports.number|add:'-3' and num < rapports.number|add:'3' %}
                            <a href="?page={{ num }}" class="btn">{{ num }}</a>
                            {% endif %}
                            {% endfor %}


                            {% if orgs.has_next %}
                            <a href="?page={{ rapports.next_page_number }}" class="btn"><i
                                    class="fa fa-angle-right"></i></a>
                            <a href="?page={{ rapports.paginator.num_pages }}" class="btn"><i
                                    class="fa fa-angle-double-right"></i></a>

                            {% endif %}
                            {% endif %}

                        </center>
                    </div>


                    {% else %}
                    <h3> {% trans "لا يوجد حالياً تقارير و دراسات للموافقة على النشر" %} </h3>
                    {% endif %}


                </div>
            </div>


        </div>

    </div>

    {% endblock %}